/* Landing page styles */
.content {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 8px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer {
    margin-top: auto;
    justify-self: flex-end;
}

#classes {
    display: flex;
    flex-direction: row;
}

.class-link {
    padding: 0.8rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--accent-bg-color);
    color: var(--accent-color) !important;
    text-decoration: none;
    transition-duration: 0.25s;
}

.class-link:hover, .class-link:focus {
    background-color: var(--accent-active-bg-color);
    color: var(--accent-active-color) !important;
}

/* Landing page form */
.input-group {
    display: flex;
    flex-direction: row;
}

.input-group input:nth-child(1) {
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group input:nth-last-child(1) {
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
}

@media (prefers-color-scheme: light) {
    body {
        --input-bg-color: #dedede;
        --input-color: #1d1f26;
        --accent-bg-color: #b593f5;
        --accent-color: #1d1f26;
        --accent-active-bg-color: #8458b3;
        --accent-active-color: #eeeeee;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --input-bg-color: #272933;
        --input-color: #eeeeee;
        --accent-bg-color: #543c85;
        --accent-color: #eeeeee;
        --accent-active-bg-color: #aa8ae6;
        --accent-active-color: #eeeeee;
    }
}

input { font-size: 0.9rem; }
.text-input {
    width: 50vw;
    background-color: var(--input-bg-color);
    color: var(--input-color);
}
.btn {
    transition-duration: 0.25s;
    background-color: var(--accent-bg-color);
    color: var(--accent-color);
    cursor: pointer;
}
.btn:active {
    animation-name: press;
}
.btn:focus, .btn:hover {
    background-color: var(--accent-active-bg-color);
    color: var(--accent-active-color);
}

/* Utility classes */
.mt-0 { margin-top: 0px; }
.mv-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}
